Options +FollowSymlinks

# ErrorDocument 403 http://www.zzaponline.co.uk/error-403.html
# ErrorDocument 404 http://www.zzaponline.co.uk/error-404.html
# ErrorDocument 500 http://www.zzaponline.co.uk/error-500.html

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^([a-zA-Z0-9-_]+)/?$ index.php?page=$1 [QSA,NC,L]
RewriteRule ^([a-zA-Z0-9-_]+).html?$ index.php?page=$1 [QSA,NC,L]